html
{
    min-height: 100%;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

body
{
    background: transparent;
    font-family: 'Lato', sans-serif;
    color: lightgrey;
}

hr
{
    margin: 8px;
    border-color: grey;
}


h1, h2
{
    text-align: center;
}

h1
{
    font-size: 6em;
    font-weight: 300;
}

h2
{
    font-size: 3em;
    font-weight: 100;
}

h3
{
    font-size: 2.4em;
    font-weight: 300;
}

.social-colour
{
    color: #1B2735;
}

.social-link:hover
{
    text-decoration: none;
}

.social:hover .social-background
{
    opacity: 0.5;
}

.social-details
{
    display: none;
    opacity: 0.5;
}

h4
{
    font-size: 2.3em;
}
